<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Mascotas</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header>
        <h1>Mis Mascotas</h1>
    </header>

    <main>

        <!-- Mascota 1 -->
        <section>
            <article>
                <img src="../public/img/leon.jpg" alt="Leon">
                <h3>Rex</h3>
                <p>Rex es un leon muy juguetón y leal.</p>
            </article>
        </section>

        <!-- Mascota 2 -->
        <section>
            <article>
                <img src="../public/img/perro.jpg" alt="Perro">
                <h3>Lup</h3>
                <p>Lup es un perro muy juguetón y leal.</p>
            </article>
        </section>

        <!-- Mascota 3 -->
        <section>
            <article>
                <img src="../public/img/cone.jpg" alt="Conejo">
                <h3>Coco</h3>
                <p>Coco es un conejo muy curioso.</p>
            </article>
        </section>

        <!-- Enlace de regreso -->
        <a href="../index.html">← Volver al portafolio</a>

    </main>

    <footer>
        <p>© 2026 Milton Escamilla</p>
    </footer>

</body>

</html>